<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <title>jimmydfund.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet" type="text/css">
        <style>body {font-family: 'PT Serif', serif;}</style>
        <!--[if le IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">The Jimmy D Fund</a>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="hero-unit">
                <h1>Annual Jimmy D. Golf Outing</h1>
                <p></p>
                <div id="myCarousel" class="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img style="display:block; margin-left:auto; margin-right:auto;" src="/images/jimmyd.JPG">
                            <br>
                            <img style="display:block; margin-left:auto; margin-right:auto;" src="/images/image001.jpg">
                        </div>
                    </div>
                </div>
                <p>Join us for a fun afternoon of golf, good friends, and good times to
                honor the memory of our dearly missed friend. All proceeds will be donated
                to Tim Owen and his two young boys, Beckett (age 3) and Laken (age 5).
                Tim is a long time friend of Kevin Powell, a friend of Jimmy D.
                Tim had a massive stroke in March, 2019.  The stroke has left Tim paralyzed
                on his left side.
                Tim faces years of recovery as a best case scenario and can use all of
                the help he can get to provide for his family.  Let’s help give a good man
                in need the leg up he could use at this time.</p>

                <p>Checks/donations can be sent to:</p>
                <address>6825 Woodhaven PL<br/>
                    Zionsville, IN 46077
                </address>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span3">
                    <h2>Where</h2>
                    <address>
                        <strong>
                            <a href="http://www.west-chasegolf.com/">West Chase Golf Club</a>
                        </strong>
                        <p>4 Hollaway Blvd</p>
                        <p>Brownsburg, IN 46112</p>
                        <a href="https://www.google.com/maps/place/4+Hollaway+Blvd,+Brownsburg,+IN+46112/@39.8674852,-86.4315389,17z/data=!3m1!4b1!4m2!3m1!1s0x886cb26c557888db:0xd52f8586fcbfb477">Google Maps</a>
                    </address>
                </div>
                <div class="span3">
                    <h2>Registration</h2>
                    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dE1taDB1UmpPc3hIOG5NbWhSd3lyY3c6MQ">Fill out this Google Form whether registering yourself or your foursome.</a>
                </div>
                <div class="span3">
                    <h2>When</h2>
                    <p>Sunday, August 16th, 2019</p>
                    <p>10:00 AM Shotgun start. Sign in begins at 8:30AM.</p>
                </div>
                <div class="span3">
                    <h2>Cost</h2>$75 per person, or $275 if you sign up an entire foursome.
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.carousel').carousel();
            });
        </script>
    </body>
</html>
